<link rel="preload" href="{{AssetUrlPrefix}}/fonts/san-francisco-pro/SF-Pro-latin-v1.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/barrett-forgejo.css?v=__BARRETT_FORGEJO_CSS_VERSION__">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/pierre-forgejo.css?v=__PIERRE_FORGEJO_CSS_VERSION__">
<script src="{{AssetUrlPrefix}}/js/midnight-cm6.js?v=__BARRETT_FORGEJO_CM6_VERSION__" defer></script>
<script type="module" src="{{AssetUrlPrefix}}/js/barrett-forgejo.js?v=__BARRETT_FORGEJO_JS_VERSION__"></script>
<script type="module" src="{{AssetUrlPrefix}}/js/pierre-forgejo.js?v=__PIERRE_FORGEJO_JS_VERSION__"></script>
